.root{
	-fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
    linear-gradient(#3a3a3a, #020b02);
}

.empty{
/*
-fx-background-image: url("../img/empty_BTN.png");
*/
}
.box{
	-fx-background-color: white;

}
.algMedium{
	-fx-background-color: radial-gradient(radius 300%, #ff890c, black);
}
.algEasy{
	-fx-background-color: radial-gradient(radius 300%, #229c00, black);
}
.algHard{
	-fx-background-color: radial-gradient(radius 300%, #d5001a, black);
}
.algHard, .algEasy, .algMedium{
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-font-size: 20px;
	-fx-text-fill: white;
}
.algEasy:hover, .algHard:hover, .algMedium:hover{
	-fx-border-color: white;
}

.empty:hover{
/*
-fx-background-image: url("../img/empty_BTN_hover.png");
*/
}
.empty:pressed{
-fx-opacity: 0.85;
}
.wizualizacja{
-fx-background-color: transparent;
-fx-background-image: url("../img/frame_wizu.png");
}
.wizualizacja:hover{
-fx-opacity: 0.85;
}
.wizualizacja:pressed{
-fx-opacity: 0.70;
}
.wprowadzenie{
-fx-background-color: transparent;
-fx-background-image: url("../img/frame_wprowadzenie.png");
}
.wprowadzenie:hover{
-fx-opacity: 0.85;
}
.wprowadzenie:pressed{
-fx-opacity: 0.70;
}
.opis{
-fx-background-color: transparent;
-fx-background-image: url("../img/frame_opis.png");
}
.opis:hover{
-fx-opacity: 0.85;
}
.opis:pressed{
-fx-opacity: 0.70;
}