
.root{
	-fx-background-color:
    linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%)
    linear-gradient(#3a3a3a, #020b02);
}

.empty{
/*
-fx-background-image: url("../img/empty_BTN.png");
*/
}
.box{
	-fx-background-color: white;

}

.algEasy{
	-fx-background-color: linear-gradient(#00c928 0%, #008019 100%);
}

.algMedium{
	-fx-background-color: linear-gradient(#fc9300 0%, #bf621b 100%);
}

.algHard{
	-fx-background-color: linear-gradient(#e30505 0%, #8c0404 100%);
}
.algHard, .algEasy, .algMedium{
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}

.minimalizeWindow {
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 40px;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
	-fx-background-color: linear-gradient(#fc9300 0%, #bf621b 100%);
}

.minimalizeWindow:hover{
	-fx-background-color: linear-gradient(#cc7700 0%, #b35c19 100%);
}

.minimalizeWindow:pressed{
	-fx-background-color: linear-gradient(#b36800 0%, #9c5016 100%);
}

.algEasy:hover{
	-fx-background-color: linear-gradient(#00b324 0%, #006614 100%);
}

.algMedium:hover{
	-fx-background-color: linear-gradient(#cc7700 0%, #b35c19 100%);
}

.algHard:hover{
	-fx-background-color: linear-gradient(#af0404 0%, #7c0404 100%);
}

.algEasy:pressed{
	-fx-background-color: linear-gradient(#00991f 0%, #004d0f 100%);
}

.algMedium:pressed{
	-fx-background-color: linear-gradient(#b36800 0%, #9c5016 100%);
}

.algHard:pressed{
	-fx-background-color: linear-gradient(#960303 0%, #630303 100%);
}
.titlePlane{
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
	-fx-background-color:    linear-gradient( #505050, #1a1a1a);
	
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
}
.titleButton{
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
	-fx-background-color:    linear-gradient( #505050, #1a1a1a);
	-fx-text-alignment: center;
	-fx-padding: 0px;
	
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 40px;
	-fx-text-fill: white;
}
.textPlane{
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 36px;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, grey, 20, 0, 0, 0);
}

.empty:hover{
/*
-fx-background-image: url("../img/empty_BTN_hover.png");
*/
}
.empty:pressed{
/*
 -fx-opacity: 0.85;
*/
}
.wizualizacja{
-fx-background-color: transparent;
-fx-background-image: url("../img/wizualizacja_not_done.png");
}
.wizualizacja2{
-fx-background-color: transparent;
-fx-background-image: url("../img/wizualizacja_done.png");
}
.wizualizacja:hover{
-fx-opacity: 0.85;
}
.wizualizacja:pressed{
-fx-opacity: 0.70;
}
.wprowadzenie{
-fx-background-color: transparent;
-fx-background-image: url("../img/wprowadzenie_not_done.png");
}
.wprowadzenie2{
-fx-background-color: transparent;
-fx-background-image: url("../img/wprowadzenie_done.png");
}
.wprowadzenie:hover{
-fx-opacity: 0.85;
}
.wprowadzenie:pressed{
-fx-opacity: 0.70;
}
.opis{
-fx-background-color: transparent;
-fx-background-image: url("../img/opis_not_done.png");
}
.opis2{
-fx-background-color: transparent;
-fx-background-image: url("../img/opis_done.png");
}
.opis:hover{
-fx-opacity: 0.85;
}
.opis:pressed{
-fx-opacity: 0.70;
}

.progress-bar > .track {
	-fx-text-box-border: #020b02;
	-fx-background-color: linear-gradient(#e30505 0%, #7c0404 100%);
    -fx-background-insets: 0; 
	-fx-effect: dropshadow(three-pass-box, #020d0d, 30, 0, 0, 0);
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(#00c928 0%, #008019 100%);
    -fx-background-insets: 0; 
	-fx-effect: dropshadow(three-pass-box, green, 10, 0, 0, 0);
	-fx-border-width: 3px;
	-fx-border-color: #101010;
}

.generate-bar > .track {
	-fx-text-box-border: #020b02;
	-fx-background-color: linear-gradient(#e30505 0%, #7c0404 100%);
    -fx-background-insets: 0; 
	-fx-effect: dropshadow(three-pass-box, #020d0d, 10, 0, 0, 0);
	-fx-border-width: 3px;
	-fx-border-color: #101010;
}

.generate-bar .bar {
    -fx-background-color: linear-gradient(#00c928 0%, #008019 100%);
    -fx-background-insets: 0; 
}

.generate-bar .bar:hover {
    -fx-background-color: linear-gradient(#00b324 0%, #008019 100%);
}

.generate-bar .bar:pressed {
    -fx-background-color: linear-gradient(#00991f 0%, #008019 100%);
}

.inputFiled{
	-fx-border-width: 3px;
	-fx-text-box-border: #020b02;
    -fx-background-insets: 0; 
	-fx-effect: dropshadow(three-pass-box, #020d0d, 30, 0, 0, 0);
}

.pseudocode{
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
	-fx-background-color: linear-gradient(#c91414 0%, #6e0303 100%);
}

.langBTN{

	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
	-fx-background-color: linear-gradient(#0683c7 0%, #05537d 100%);
}
.langBTN:hover{
	-fx-background-color: linear-gradient(#09689c 0%, #074b70 100%);
}
.langBTN:pressed{
	-fx-background-color: linear-gradient(#09689c 0%, #053652 100%);
}

.langBTNselected{

	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-effect: dropshadow(three-pass-box, green, 10, 0, 0, 0);
	-fx-background-color: linear-gradient(#00ff00 0%, #33cc33 100%);
}
.langBTNselected:hover{
	-fx-background-color: linear-gradient(#33cc33 0%, #009900 100%);
}
.langBTNselected:pressed{
	-fx-background-color: linear-gradient(#009900 0%, #006600 100%);
}
.colorInfo{
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, grey, 3, 0, 0, 0);
	-fx-background-color: linear-gradient(#0683c7 0%, #05537d 100%);
}
.pseudocode:hover{
	-fx-background-color: linear-gradient(#a30d0d 0%, #a80808 100%);
}
.pseudocode:pressed{
	-fx-background-color: linear-gradient(#8f0b0b 0%, #820707 100%);
}
.textNormal{
	
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
}
.textMin{
	
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 16px;
	-fx-text-fill: white;
}

.questionmark{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-size: 2em; /* 12 */
    -fx-text-fill: #e6e6e6;
	-fx-effect: dropshadow(three-pass-box, grey, 3, 0, 0, 0);
}

.questionmark:pressed {
    -fx-text-fill: white;
}

.circle, .textBST, .line{
	-fx-effect: dropshadow(three-pass-box, grey, 7, 0, 0, 0);
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 22px;
	-fx-text-fill: white;
}

.circle_small, .textBST_small, .line_small{
	-fx-effect: dropshadow(three-pass-box, grey, 7, 0, 0, 0);
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 18px;
	-fx-text-fill: white;
}

.circle:hover{
	-fx-opacity: 0.65;
}

.circle:pressed{
	-fx-opacity: 0.45;
}

.rbtNodeRed, .rbtNodeBlack
{
	-fx-font-family: 'Cambria Math';
	-fx-font-size: 15px;
	-fx-text-fill: white;
	-fx-border-width: 3px;
	-fx-border-color: #101010;
	-fx-border-radius: 5em;
	-fx-alignment: center;
	-fx-padding: 0px;
	
   	-fx-background-radius: 5em;
	-fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}

.rbtNodeRed
{
	-fx-background-color: linear-gradient(#e60000 0%, #cc0000 100%);
}

.rbtNodeRed:hover
{
	-fx-background-color: linear-gradient(#cc0000 0%, #b30000 100%);
}

.rbtNodeRed:pressed
{
	-fx-background-color: linear-gradient(#b30000 0%, #990000 100%);
}

.rbtNodeBlack
{

	-fx-background-color: linear-gradient(#4d4d4d 0%, #404040 100%);
}

.rbtNodeBlack:hover
{
	-fx-background-color: linear-gradient(#404040 0%, #333333 100%);
}

.rbtNodeBlack:pressed
{
	-fx-background-color: linear-gradient(#333333 0%, #262626 100%);
}

.congratsHeader, .errorHeader
{
	-fx-font-size: 40px;
	-fx-alignment: center;
	-fx-text-align: center;
	-fx-font-weight: bold;
}

.congratsHeader
{
	-fx-fill: #00e600;
}

.errorHeader
{
	-fx-fill: #e60000;
}

.congratsText, .errorText
{
	-fx-font-size: 13px;
	-fx-alignment: center;
	-fx-text-align: center;
}



.infoScrollPane
{
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
	-fx-padding: 5px;
}

.infoScrollPane > .viewport {
   -fx-background-color: transparent;
}
.startIco{
	-fx-background-color: transparent;
	-fx-background-image: url("../img/opis_done.png");
}
.stopIco{
	-fx-background-color: transparent;
	-fx-background-image: url("../img/stop.png");
}
.fullScreenIco{
	-fx-background-color: transparent;
	-fx-background-image: url("../img/fullscreen.png");
}
.smallScreenIco{
	-fx-background-color: transparent;
	-fx-background-image: url("../img/smallscreen.png");
}



